/*****************************
BASE STYLES
*****************************/

*{
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-family: 'Oxygen', sans-serif;
	color: #666;
	width: 100%;
}

h1{
	color: #ccc;
}

h2{
	color: #000;
}

fieldset{
	border: none;
}

#newsletter_style legend,
#contact_style legend {
	width: 100%;
	padding: 10px 0; 
	font-weight: bold;
	font-size: 1.5em;
	color: #000;
}

label{
	display: inline-block;
	padding: 15px 5px 7px 0;
}

input[name="user_name"],
select,
textarea{
	border: none;
	background: #ddd;
	border-radius: 2px;
	width: 100%;
	height: 45px;
	transition: background 1s;
}

::-webkit-input-placeholder { 
	text-align: right; 
	padding-right: 10px;
}

input:focus{
	background: #aaa;
}

input[id="zip"]{
	width: 50%;
	display: block;
}

input[name="user_newsletter"]{
	display: inline-block;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0 10px 0 0;
}

textarea{
	height: 120px;
}

button{
	border: none;
	background: #20c3d0;
	border-radius: 2px;
	width: 100%;
	height: 70px;
	color: #fff;
	margin: 30px 0;

}

footer{
	color: #aaa;
	text-align: center;
}



/****************************
LAYOUT CONTAINERS
****************************/

.main-header{
	  padding-top: 10px;
	  padding-bottom: 10px;
	  margin-bottom: 10px;
	  background: #111;
	  text-align: center;
}

.container{
	padding-left: 1em;
	padding-right: 1em;
	text-align: left;
 }

 .second-header{
 	text-align: center;
 }


/****************************
TWO BORDER BREAKS
****************************/

.hr1{
	border: 4px solid #111;
}

.hr2{
	border: 2px solid #111;
}


/****************************
MEDIA QUERY
****************************/



@media (min-width: 760px) {

	.inline{
		float: left;
		width: 20%;
	}

	input[name="user_name"],
	select {
		float: left;
		width: 65%;
		margin: 10px;
	}

	input[id="zip"]{
	width: 50%;
	display: block;
	}

	.container{
		margin: auto;
    	width: 60%;
    	padding: 10px;
	}

}